# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Flask specific files
instance/
*.db
*.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db



config.json
PyWhatKit_DB.txt


# Flask configuration file (optional)
config.py
